<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691490360776-4aslf239kj22ahs2n2jh2rm2k2ot0n62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691490360776-4aslf239kj22ahs2n2jh2rm2k2ot0n62</string>
	<key>API_KEY</key>
	<string>AIzaSyD2k3QqLMb-cbhgvLP8qaSKJw3jS5F47DI</string>
	<key>GCM_SENDER_ID</key>
	<string>691490360776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.nyu.as.ar-journal</string>
	<key>PROJECT_ID</key>
	<string>ar-journal</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-journal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691490360776:ios:2c2ce9f04974162002c4fd</string>
</dict>
</plist>